@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');

/* Tools */
.flex{
    display: flex;
    justify-content: center;
    align-items: center;
}

.slider{
    scroll-snap-type: y proximity;
    overflow-y: scroll;
    height: 100vh;
}

.stop{
    scroll-snap-align: start;
}

a{
    text-decoration: none;
    font-family: 'Source Sans Pro', sans-serif;
    color: black;
}

/* Home Screen */
.cover{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0 15% 0 15%;
    font-family: 'Source Sans Pro', sans-serif;
}

.co-title{
    font-size: 20px;
}

#title{
    font-family: 'Playfair Display', serif;
    font-size: 80px;
}

/* Parallax Testing */
.parallax{
    background-image: url(/images/background4_test.jpg);
    height: 600px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* Tribute Information */
#tribute-info{
    font-family: 'Source Sans Pro', sans-serif;
    line-height: 25px;
}

/* Quote Showcase */
#quote{
    text-align: center;
    line-height: 25px;
    font-family: "Source Sans Pro", sans-serif;
}

/* Image Showcase */
#img-div{
    height: 100vh;
    /* border: 5px solid blue; */
}

#image{
    max-width: 100%;
    display: block;
}

#img-caption{
    text-align: center;
    font-family: 'Source Sans Pro', sans-serif;
}